body {
  margin: 0;
  background: linear-gradient(172deg, #4c657e 50%, #ff6f61 300%);
  font-family: "Poppins", sans-serif;
  color: #f2f2f2;
}

html,
body {
  height: 100%;
}

a {
  color: #aaa;
}

section {
  position: fixed;
  left: 0;
  bottom: 12px;
  width: 100%;
  background: #1e2a38;
  padding-top: 50px;
}

footer {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin: 0 25px;
}

@media (max-width: 620px) {
  footer {
      flex-direction: column;
  }

  footer.bottom {
      gap: 20px;
      flex-direction: column-reverse;
  }
}

footer > img {
  margin-top: 10px;
}

@media (min-width: 620px) {
  footer {
      margin: 0 auto;
      max-width: 600px;
      padding: 0;
  }
}

footer.top {
  border-bottom: 2px solid #4c657e;
  padding-bottom: 15px;
}

footer.bottom {
  padding: 15px 0;
  justify-content: space-between;
}

footer.top .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.links > div {
  display: grid;
  gap: 15px;
  margin-bottom: 25px;
}

footer h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #f7f7f7;
}

.legal {
  font-size: 12px;
}

.legal > a {
  margin: 0 6px;
  color: #aaa;
  text-decoration: none;
}

.legal > span {
  margin-right: 10px;
}

footer.bottom .links {
  display: flex;
  gap: 15px;
}

footer.bottom .links > a {
  font-size: 28px;
}

footer a:hover {
  text-decoration: underline;
  color: #fff;
}

@media (max-width: 420px) {
  footer {
      text-align: center;
      align-items: center;
  }

  footer.top .links {
      grid-template-columns: 1fr;
  }

  footer.bottom {
      align-items: center;
  }

  .legal > span {
      display: block;
      margin-right: 0;
      margin-bottom: 2px;
  }
}
